html {
    margin: 0 auto;
    background-color: rgba(122, 191, 191, 0.5);
}
body {
    background-color: #F2F2F2;
}
h1, h2, h3, h4 {
    text-transform: uppercase;
    font-family: 'Bebas Neue', Arial, sans-serif;
}
h1 {
    font-size: 40px;
    margin: 0 auto;
}
h2 {
    font-size:30px;
}
h3 {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}
header {
    box-shadow: 0px 5px 2px rgba(148, 148, 148, 0.5);
}
header label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
p {
    font-family: 'Montserrat', Arial, sans-serif;
    padding: 10px;
    font-weight: medium;
    font-size: 16px;
    margin: 0 auto;
}
dd, li, nav, input {
    font-family: 'Montserrat', Arial, sans-serif;
}
.streetTacosNav a:hover {
    background-color: #EB5428;
    color: white;
    transition: all 0.3s ease-in-out;
}
menu {
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
}
menu li {
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: square;
    padding: 5px;
}
menu li a:hover, menu li img:hover {
    color: white;
}
figure figcaption {
    font-size: 20px;
}
figure h3 {
    font-size: 25px;
    text-align: left;
}
aside {
    padding: 10px;
    background-color: #7ABFBF;
}
aside h2 {
    margin: 0 auto;
    text-align: center;
}
ol li {
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Star Rating */
.rating {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 0px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-left: 20px;
    margin-top: 85px;
}
.rating2 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 0px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-left: 20px;
    margin-top: 85px;
}
.rating3 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 0px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-left: 20px;
    margin-top: 85px;
}
.rating4 {
    display: flex;
    width: 150px;
    height: 20px;
    margin-top: 0px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    margin-left: 20px;
    margin-top: 85px;
}
.rating svg {
    padding-right: 10px;
}
.rating2 svg {
    padding-right: 10px;
}
.rating3 svg {
    padding-right: 10px;
}
.rating4 svg {
    padding-right: 10px;
}
.star1_rating1, .star2_rating1, .star3_rating1, .star4_rating1 {
    fill: #EB5428;
}
.star1_rating2, .star2_rating2, .star3_rating2, .star4_rating2, .star5_rating2 {
    fill: #EB5428;
}
.star1_rating3, .star2_rating3, .star3_rating3, .star4_rating3, .star5_rating3 {
    fill: #EB5428;
}
.star1_rating4, .star2_rating4, .star3_rating4, .star4_rating4 {
    fill: #EB5428;
}

@media screen and (min-width: 500px) {
    html {
        margin: 0 auto;
    }
    body {
        width: 414px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    h1 {
        text-align: center;
    }

    /* 'Street tacos' heading and 4 nav actions and svgs */
    .streetTacosNav ul {
        padding-left: 0px;
        justify-content: space-evenly;
    }
    .streetTacosNav nav ul li a {
        text-decoration: none;
        color: #EB5428;
        font-size: 20px;
        display: flex;
        padding: 0px 10px;
    }
    .streetTacosNav nav ul li a:hover {
        background-color: #EB5428;
    }
    .streetTacosNav nav ul li {
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Bebas Neue', Arial, sans-serif;
    }
    .streetTacosNav nav ul {
        display: flex;
    }

    /* Main Navigation */
    menu {
        padding-left: 0px;
        overflow: hidden;
        max-height: 0px;
        transition: max-height .2s ease-out;
        position: absolute;
        margin-top: 80px;
        width: 414px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    menu li {
        list-style-type: none;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Bebas Neue', Arial, sans-serif;
    }
    menu li:hover {
        background-color: #EB5428;
        transition: all 1s ease-in-out;
    }
    menu li a {
        text-decoration: none;
        color: #EB5428;
        font-size: 20px;
        text-align: center;
    }
    /* header menu - Hamburger SVG */
    .menu-icon {
        display: block;
        position: relative;
        float: left;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }
    .menu-icon a {
        display: block;
        text-transform: uppercase;
        font-family: 'Bebas Neue', Arial, sans-serif;
        text-decoration: none;
        font-size: 20px;
        color: black;
    }
    /* header menu - first list item and SVG */
    .home-icon {
        background-color: #EB5428;
        position: absolute;
        padding-bottom: 6px;
        padding-top: 10px;
        padding-left: 92px;
        padding-right: 92px;
    }

    /* header menu - last list item and svg */
    .user-icon {
        float: right;
        position: relative;
    }
    .user-icon a {
        color: black;
        transition: background-color 1s ease-in-out, color 1s ease-in-out;
        font-family: 'Bebas Neue', Arial, sans-serif;
        text-decoration: none;
        font-size: 20px;
        display: block;
        padding: 8px 5px;
        margin-top: -2px;
        text-align: center;
    }
    .user-icon a:hover {
        background-color: #EB5428;
        color: white;
        transition: all 0.3s ease-in-out;
    }
    svg.icon.icon-tabler.icon-tabler-user-circle {
        filter: invert(31%) sepia(92%) saturate(5500%) hue-rotate(351deg) brightness(103%) contrast(84%);
        display: block;
        margin-left: 20px;
        margin-right: 20px;
    }
    svg.icon.icon-tabler.icon-tabler-user-circle:hover {
        filter: brightness(1) invert(0);
        transition: all 1s ease-in-out;
    }
    .user-icon svg:hover {
        filter: none;
        transition: 0.3s ease-in-out;
    }
    header .menu-btn {
        display: none;
    }
    header .menu-btn:checked ~ menu {
        max-height: 700px;
    }
    header {
        background-color: white;
        order: -1;
    }

    /* Main Image */
    body img {
        width: 100%;
    }

    /* Details */
    dl {
        padding: 10px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 100px 1fr;
    }
    dt {
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: bold;
    }
    dd {
        text-align: left;
        margin-left: 0px;
        padding: 0px;
        display: inline-flex;
    }

    /* Search Bar and SVG */
    section#search {
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 40px;
        padding-bottom: 20px;
    }
    #search {
        display: flex;
        order: -1;
        flex: 1;
    }
    #search svg {
        background-color: #EB5428;
        padding: 0px 5px 1px 5px;
    }
    input {
        height: 35px;
        border: 2px solid #EB5428;
        flex: 1;
    }

    /* Side Dishes Styling */
    aside {
        padding: 10px;
        margin: 0px;
        display: flex;
        flex-direction: column;
    }
    aside figure {
        display: grid;
        grid-template-columns: 100px 1fr;
        margin-top: 20px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 20px;
    }
    aside figure:hover {
        background-color: orange;
        transition: all 0.5s ease-in-out;
    }
    aside figure img {
        grid-row: 1 / 1;
        width: 110px;
        height: 110px;
    }
    aside figure h3 {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin-left: 20px;
    }
    aside figure figcaption {
        grid-row: 1 / 1;
        grid-column: 2 / 2;
        margin: 0px;
        margin-left: 20px;
        margin-top: 30px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 16px;
    }
    aside figure p {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 60px;
        padding-bottom: 0px;
        margin-left: 20px;
        font-weight: bold;
    }
    aside figure span {
        grid-column: 2 / 2;
        grid-row: 1 / 1;
        margin-left: 20px;
        margin-top: 85px;
        padding: 0px;
    }
    aside figure span input {
        height: 15px;
    }

    /* Socials List*/
    ul#social {
        list-style-type: none;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        align-self: center;
        justify-content: space-between;
        flex-grow: 1;
    }
    ul#social li {
        display: block;
        flex-direction: column;
        align-content: center;
        font-size: 20px;
    }
    ul#social li a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Bebas Neue', Arial, sans-serif;
        color: #EB5428;
        display: block;
        font-size: 20px;
        padding: 5px;
    }
    ul#social li a:hover {
        background-color: #EB5428;
        color: white;
        transition: all 0.5s ease-in-out;
    }
    footer {
        padding: 10px;
        background-color: white;
        text-align: center;
        font-size: 20px;
        font-family: 'Bebas Neue', Arial, sans-serif;
        line-height: .9em;
    }
    footer h3 {
        padding-top: 10px;
    }
    footer img {
        width: 200px;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    footer > svg {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    body {
        width: 768px;
        margin: 0 auto;
    }
    h1 {
        text-align: left;
        padding: 20px;
    }
    body header {
        background-color: white;
        display: grid;
        grid-template-columns: 80px 600px 80px;
        order: -1;
    }
    li#home-icon {
        order: -1;
    }
    a {
        font-family: 'Bebas Neue', Arial, sans-serif;
    }

    /* Street Taco Nav */
    .streetTacosNav ul {
        position: relative;
        display: flex;
        width: 748px;
        justify-content: space-around;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        margin: 0;
    }

    /* Search Bar */
    section#search {
        padding: 20px;
        order: -1;
    }
    #search {
        display: flex;
        order: -1;
        flex: 1;
    }
    #search svg {
        background-color: #EB5428;
        padding: 0px 5px 1px 5px;
    }
    input {
        height: 35px;
        border: 2px solid #EB5428;
        flex: 1;
    }
}

@media screen and (min-width: 1400px) {
    body {
        width: 1280px;
        margin: 0 auto;
    }
}